[Desktop Entry]
Name=TestGenerator
Comment=IDE
Exec=/opt/SergeiKrivko/TestGenerator/TestGenerator
Icon=/opt/SergeiKrivko/TestGenerator/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;