[Desktop Entry]
Name=TestGenerator
Version={AppVersion}
Comment=IDE
Exec=/opt/SergeiKrivko/TestGenerator/TestGenerator
Icon=sergeikrivko-testgenerator
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;